#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreTx{
    font-family: "Monospace", cursive;
    font-size: 100px
}
#resetButton{
    font-family: "Monospace", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;

}
body{
    background-color: rgb(255, 252, 252);
}
h1 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color:chartreuse;
}

