#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreTx{
    font-family: "monospace", cursive;
    font-size: 100px
}
#resetButton{
    font-family: "monospace", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
body{
    background-color: rgb(255, 0, 0);
}
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:chartreuse;
}

