
html {
    background-image: url("https://c2.staticflickr.com/4/3095/5701536808_f402c4a1fd_b.jpg");
    background-size: cover; /* or specify the size you want */
    background-repeat: no-repeat;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}



  .startMenu {
    position: absolute;
    top: 43%;
    left: 38%;
    text-align: center;
    border: 3px solid green;
    background-color: rgb(162, 167, 185);
    height: 300px;
    width: 500px;
  }
  */